<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a href="#">
      <!-- <img src="images/icon/logo.png" alt="Cool Admin" /> -->
      <center>
        <h1>Hosp &nbsp i </h1>
      </center>
    </a>
  </div>
  <div class="menu-sidebar__content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar__list">
        <li class="has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a>

        </li>
        <li>
          <a href="card.html">
            <i class="fas fa-chart-bar"></i>Attendence</a>
        </li>
        <li>
          <a href="table.html">
            <i class="fas fa-table"></i>Tables</a>
        </li>

      </ul>
      </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->