<!-- PAGE CONTAINER-->
<div class="page-container">


  <!-- MAIN CONTENT-->
  <div class="main-content">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">



        </div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card-header">
              <strong>Hospital</strong> Details
            </div>
            <div class="card-body card-block">
              <form action="/admin/create" id="myform" method="post" class="form-horizontal">
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="hf-email" class=" form-control-label">Hospital name</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="text" id="text" name="name" placeholder="Hospital name..." class="form-control">
                    <span class="help-block">Please enter your Hospital name</span>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="hf-password" class=" form-control-label">Hospital Phone</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <input type="number" id="text-input" name="phone" placeholder="Hospital Phone" class="form-control">
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col col-md-3">
                    <label for="textarea-input" class=" form-control-label">Hospita Address</label>
                  </div>
                  <div class="col-12 col-md-9">
                    <textarea id="textarea-input" rows="9" name="address" placeholder="Enter Hospita Address"
                      class="form-control"></textarea>
                  </div>
                </div>

                <button type="button" class="btn btn-danger" onclick="add_doct()">
                  <i class="fa fa-plus-circle"></i>&nbsp; Add Doctor</button>


                <!-- onclick -->

                <div class="card-body card-block" id="add_click">

                  <div class="row form-group">
                    <div class="row">
                      <div class="col col-md-3">
                        <label for="hf-email" class=" form-control-label">Specialization
                        </label>
                      </div>
                      <div class="col-12 col-md-9">
                        <input type="text" id="text" name="specialization" placeholder="Doctor Specialization"
                          class="form-control">
                        <span class="help-block">Please Enter the Doctor specialization
                        </span>
                      </div>



                      <p> <button type="button" class="btn btn-danger" id="doc" onclick="addRow()">
                          <i class="fa fa-plus-circle"></i>&nbsp; List Doctors</button></p>

                      <hr>

                      <input type="hidden" id="hidd" name="count" value="" class="form-control">
                      <div id="content">

                      </div>

                    </div>

                  </div>

                  <div class="card-footer">
                    <button type="button" onclick="subform" id="submit" class="btn btn-primary btn-sm">
                      <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                      <i class="fa fa-ban"></i> Reset
                    </button>
                  </div>
              </form>
            </div>

          </div>

          </form>
          <div id="map"></div>












        </div>
      </div>
    </div>
  </div>

</div>